<!DOCTYPE html>

<div class = "container">

<html>

<head>
	<link rel="stylesheet" href="home.scss"/>
</head>


<body>
	<h1>Animal Profiles</h1>
<h4 id='instruction-words'>Click to See Profile:</h4>

<div class="llama">
    <div class="llama-pic">
        <%= image_tag "black-llama.png", size: 200 %> 
    </div>
    <div class='llama-profile hidden'>
        <h1>Black Llama</h1>
        <p>This is a black llama</p>
    </div>
</div>

<div class="llama">
    <div class="llama-pic">
        <%= image_tag "brown-llama.png", size: 200 %> 
    </div>
    <div class='llama-profile hidden'>
        <h1>Brown Llama</h1>
        <p>This is a brown llama</p>
    </div>
</div>

<div class="llama">
    <div class="llama-pic">
        <%= image_tag "baby-llama.png", size: 200 %> 
    </div>
    <div class='llama-profile hidden'>
        <h1>Baby Llama</h1>
        <p>This is a baby llama</p>
    </div>
</div>

<script>
    const llamas = document.querySelectorAll('.llama-pic')
    
    function toggleProfile() {
        this.nextElementSibling.classList.toggle('hidden');
    }

    llamas.forEach (llama => {
        llama.addEventListener('click', toggleProfile);
    });
</script>

</body>

</html>


</div>
