<!DOCTYPE html>

<div class = "page-container">
	<html>
	<head>

	</head>

	<body>
		

		<h1>Welcome to The Llama Farm!</h1>
		<p>Check out our upcoming events and book!</p>
		<br>
		<br>
		<%= image_tag "llama-backround.png"%>




	</body>
	</html>
</div>