<!DOCTYPE html>
<html>
	<div class = "container">
		<div class = "main-content-container">
			<div class="row"> 
				<div class="user-page-banner">
					<div class ="user-banner-image">
						<div class ="bot-user-image-container">
							<%= image_tag profile_pic(current_user), class: "bot-user-pic-feed" %>
						</div>
					</div>
				</div>

			</div>

		<body>

			
			
			
				<div class ="row">
				 
				  <!-- Left Column -->
				  <div class="col-md-3">
				  	<div class = "card">
			  		<div class = "bot-feed-profile-container">

						<div class= "user-name-feed"><%= current_user.name %> </div>
					  	<div class="user-username-feed">@<%= current_user.username %></div>
						<div class= "user-feed-bio"><%= current_user.bio %></div>
					</div>

					</div>		
				  </div>

				  <!-- Mid Column -->

				  <div class="col-md-6">
				  	<div class = "card">
				  	<h1>Booked Events</h1>
				  	<p>Here are all your booked events</p>

				 	 </div>
				  	
				  	
				  </div>

				  <!-- Right Column -->
				  <div class="col-md-3">
				  	<div class="card">
				  		<p>
				  			More Info
				  		</p>
				  	</div>
				  </div>
				</div>	  
			
			
			</body>
		</div>
	</div>
</html>

