

<html>
<head>
    <link rel="stylesheet" href="https://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='style.css' rel='stylesheet' type='text/css'/>
  </head>
  
  <body class="events-body">
    
    <div class="events-header">
      <h1 class ="events-h1">EVENTS LIST</h1>
    </div>


<div class ="event-card">
<% @events.each do |event| %>

  <div class="events-container">
    <div class="events-row">
        <div class="col-md-4">
            <div class="events-image-wrapper">
              
              <%= image_tag show_event_image(event), class: 'events-img-responsive' %>
                <div class="events-text"><%= link_to event.name, event %></div>
                <div class ="destroy-words"><%= link_to 'Destroy', event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %></div>
                
            </div>
        </div>
    </div>
  </div>
<% end %>
</div>
    

  <div class="events-container">
    <div class="events-row">
        <div class="col-md-4">
            <div class="events-image-wrapper">
              <img class="events-img-responsive" src="https://beewellhoneyfarm.com/wp-content/uploads/2017/02/beekeeper.jpg">
                <div class="events-text"><%= link_to 'New Event', new_event_path %></div>
            </div>
        </div>
    </div>
  </div>
    

 
  </body>
</html>
